:root {
  --background-gradient: linear-gradient(45deg, #30b79f 0%, #5061ab 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/*divider*/
hr.solid {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 1rem
}

#button {
    width: 8rem;
    height: 3rem;
    background-color: #74EBD5;
    background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

#button:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#text-big {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  #nav.--scrolled {
    background: var(--background-gradient);
  }


#nav h4 {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;

}

#nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  

#nav a:hover {
    color: #74EBD5;
  }
  

#nav a.active {
    color: white;
  }


#sidenav {
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
  }
  

#links {
  display: none;
  color: black;
}


#sidenav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

/* Add a grey background color on mouse-over */
#sidenav a:hover {
  color: #74EBD5;
}

#sidenav #icon {
  display: flex;
  flex-direction: row;
  justify-content:left;
  color:white;
}

#icon>i {
  cursor: pointer;
}

#icon > h4 {
  padding-left: 1rem; 
  color: white;
}

#nav > h4 {
  padding-top: 1rem; padding-left: 1rem; color: white;
}

.parallaxdivider {
  background-image: url("https://picsum.photos/1920/1080");
  
  min-height: 20rem;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding: 5rem;
  
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  }

  .parallaxdivider * {
    color: #fff;
    }

#banner {
background-image: url("https://picsum.photos/1920/1080");

min-height: 40rem;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

#paragraph {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}

#Text {
  display: flex;
  flex-direction: column;
}

#Image {
  width: 30px;
  height: 30px;
  overflow: hidden;
}

#Image img {
  object-fit: contain;
  max-width: 100%;
  max-height: auto;
}

#slogan > p {
  font-size: 3rem;
  color: white;
  padding-bottom: 3rem;
}

#slogan > h4 {
  color: white;
}

#calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.date {
  padding: 1rem;
  margin: 3rem;
  width: 25rem;
  height: 30rem;
  border-radius: 0.5rem;
  background-color: #74EBD5;
  background-image: var(--background-gradient);
}

.date:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.date>h2 {
  padding: 2rem;
  padding-left: 0;
  text-align: left;
  color: white;
}

.date>p {
  height: 5rem;
  text-align: left;
  color: white;
}

.date>ul {
  padding:1rem;
  padding-left: 0;
  text-align: left;
}

.date>ul>li {
  font-size: larger;
  list-style-type: none;
  padding: 0.5rem;
  color: white;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  margin-left: 2rem;
  list-style:none
}

.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear;
}

.social-icons a.facebook:hover
{
  background-color:#3b5998;
  color: #fff
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
  color: #fff
}

.footer {
  display: flex;
  justify-content: center;
}

.footerContent {
  width: 50rem;
  text-align: center;
}

.footerContent>hr {
  border: 1px solid rgb(0, 0, 0);
}

.footerContent * {
 color: #000;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

/*Form*/
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 50px 50px;
  background: #fff;
  border-radius: 10px;
}
.center h1 {
  font-size: 2em;
  border-left: 5px solid #74EBD5 ;
  padding: 10px;
  color: #000;
  letter-spacing: 5px;
  margin-bottom: 60px;
  font-weight: bold;
  padding-left: 10px;
}
.center .inputbox {
  position: relative;
  width: 25rem;
  height: 50px;
  margin: 1rem;
  margin-top: 1.5rem;
}
.center .inputbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 2px solid #000;
  outline: none;
  background: none;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
}

.center .inputbox label {
  position: absolute;
  top: 14px;
  left: 20px;
  font-size: 1em;
  transition: 0.6s;
}
.center .inputbox input:focus ~ label,
.center .inputbox input:valid ~ label {
  transform: translateX(-13px) translateY(-35px);
  font-size: 1em;
}

.center .inputcheckbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.center .inputcheckbox .checkboxselect {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0.5rem;
  padding-left: 0;

}

.center .buttonbox {
  position: relative;
  width: 25rem;
  height: 50px;
  margin: 1rem;
}

.center .buttonbox input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  outline: none;
  background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2em;
  color: #fff;
}

@media screen and (max-width:720px) {
  #nav {
  display: none;
  }

  #sidenav {
  display: block;
  }

  .banner {
  background-attachment: scroll;
  }
  
  #calendar {
    flex-direction: column;
  }

  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (min-width:720px) {
  #nav {
    display: block;
  }
  #sidenav {
    display: none;
  }
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  appearance: none;
  -webkit-appearance: none;
}
[type="checkbox"] + label {
  position: absolute;
}
[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 2px solid #000;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}
[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #000;
}