* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

/*divider*/
hr.solid {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 2rem;
  margin-bottom: 2rem
}

#button {
    width: 8rem;
    height: 3rem;
    background-color: #74EBD5;
    background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

#button:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

#text-big {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

#nav {
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

#nav h4 {
    float: left;
    display: block;
    color: white;
    text-align: center;
    font-weight: bold;

}

#nav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 17px;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
  }
  

#nav a:hover {
    color: #74EBD5;
  }
  

#nav a.active {
    color: white;
  }


#sidenav {
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
  }
  

#links {
  display: none;
  color: black;
}


#sidenav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}

/* Add a grey background color on mouse-over */
#sidenav a:hover {
  color: #74EBD5;
}

#sidenav #icon {
  display: flex;
  flex-direction: row;
  justify-content:left;
  color:white;
}

#icon>i {
  cursor: pointer;
}

#banner {
background-image: url("https://picsum.photos/1920/1080");

min-height: 40rem;

background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-align: center;
}

#slogan > p {
  font-size: 3rem;
  color: white;
  padding-bottom: 3rem;
}

#slogan > h4 {
  color: white;
}

#calendar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem;
}

.date {
  padding: 1rem;
  margin: 3rem;
  width: 25rem;
  height: 30rem;
  border-radius: 0.5rem;
  background-color: #74EBD5;
  background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
}

.date:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
}

.date>h2 {
  padding: 2rem;
  padding-left: 0;
  text-align: left;
  color: white;
}

.date>p {
  height: 5rem;
  text-align: left;
  color: white;
}

.date>ul {
  padding:1rem;
  padding-left: 0;
  text-align: left;
}

.date>ul>li {
  font-size: larger;
  list-style-type: none;
  padding: 0.5rem;
  color: white;
}

.social-icons
{
  padding-left:0;
  margin-bottom:0;
  margin-left: 2rem;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}

.social-icons a.facebook:hover
{
  background-color:#3b5998;
  color: #fff
}
.social-icons a.twitter:hover
{
  background-color:#00aced;
  color: #fff
}

.footer {
  display: flex;
  justify-content: center;
}

.footerContent {
  width: 50rem;
  text-align: center;
}

.footerContent>hr {
  border: 1px solid rgb(0, 0, 0);
}

.footerContent * {
 color: #000;
}

.social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.social * {
  color: #000;
}

/*Form*/
.form {
  width: 30rem;
}

.title {
  color: #000;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #000;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {

  border-radius: 12px;
  border: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #fff;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #000;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #000;
}

.input:focus ~ .placeholder {
  color: #000;
}

.submit {
  background-image: linear-gradient(45deg, #74EBD5 0%, #9FACE6 100%);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}



@media screen and (max-width:720px) {
  #nav {
  display: none;
  }

  #sidenav {
  display: block;
  }

  .banner {
  background-attachment: scroll;
  }
  
  #calendar {
    flex-direction: column;
  }

  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

@media screen and (min-width:720px) {
  #nav {
    display: block;
  }
  #sidenav {
    display: none;
  }
}